@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Merriweather:ital,wght@1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style-type:none;
}

body{
    height:100vh;
    width:100vw;
    overflow:hidden;
    background-color:#202020;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: column;
    font-family:inter;
    font-weight:bold;


    #main{
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
        margin-top:3rem;
        height:80rem;
        align-items: center;

    #mainClicker{
        background-color:transparent;
        border:none;
        height:20rem;
        width:20rem;
        margin-top:auto;
        margin-bottom:5rem;
        background-image:url(./assets/Gumball.png);
        background-size:100%;
        transition: 0.3s;
    }

    #mainClicker:hover{
        transform: scale(1.2);
        transition: 0.3s;
    }

    #mainClicker:active{
        transform: scale(0.9);
        transition: 0.3s;
    }

    #score, #perSec{
        color:white;
    }
}

    .disabled{
        pointer-events: none;
        opacity:0.4;

        .prix{
            color:red;
            font-weight:bold;
        }
    }

    #controllers{
        display:flex;
        flex-direction: column;
        right:1rem;
        top:1rem;

        



    .controller{
        margin:5px;
        height:5rem;
        width:25rem;
        position:relative;
        background-color: rgb(190, 190, 190);
        border:0;
        padding:2em;

        .multname{
            font-size:2rem;
            position:absolute;
            top:0;
            left:7rem;
            color:white;
            font-weight:bold;
            text-shadow: 1px 1px 0 black;
        }

        .valeur{
            position:absolute;
            right:1rem;
            top:1rem;
        }

        .cont{
            position:absolute;
            bottom:1em;
            right:1em;
            font-size:1.5rem;
            font-weight:bold;
        }

        .prix{
            position:absolute;
            bottom:1em;
            left:7rem;
            font-weight:bold;
        }
    }

    #controller-1{
        background-image:url(./assets/Gumlins.png);
        background-repeat:no-repeat;
        background-size:auto 100%;
    }

    #controller-2{
        background-image:url(./assets/SuperGumlins.png);
        background-repeat:no-repeat;
        background-size:auto 100%;
    }

    #controller-3{
        background-image:url(./assets/HyperGumlins.png);
        background-repeat:no-repeat;
        background-size:auto 100%;
    }
    #controller-4{
        background-image:url(./assets/MetaGumlins.png);
        background-repeat:no-repeat;
        background-size:auto 100%;
    }





}


}